html,
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Roboto";
    fill: #333333;
}

body {
    background: linear-gradient(0deg, #fffad9, #fffdf0);
}

.navigation {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #317c34;
    margin-bottom: 5px;
}

a:hover {
    color: #bd6716;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.christmas-tree {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.tree,
.tree.classic {
    fill: #317c34;
}

.tree.fruit {
    fill: #243050;
}

.tree.world {
    fill: #2a4188;
}

.bottom {
    fill: #a56a27;
}

.star {
    fill: #f0cc00;
}

.lights {
    fill: #0077ff;
}

.lights path:nth-child(4n + 1) {
    fill: #ff000d;
    animation: change-lights-1 4s infinite;
}

.lights path:nth-child(4n + 2) {
    fill: #001eff;
    animation: change-lights-2 4s infinite;
}

.lights path:nth-child(4n + 3) {
    fill: #74ee15;
    animation: change-lights-3 4s infinite;
}

.lights path:nth-child(4n + 4) {
    fill: #ffe700;
    animation: change-lights-4 4s infinite;
}

@keyframes change-lights-1 {
    0% {
        fill: #ff000d;
    }
    25% {
        fill: #001eff;
    }
    50% {
        fill: #74ee15;
    }
    75% {
        fill: #ffe700;
    }
    100% {
        fill: #ff000d;
    }
}

@keyframes change-lights-2 {
    0% {
        fill: #ffe700;
    }
    25% {
        fill: #ff000d;
    }
    50% {
        fill: #001eff;
    }
    75% {
        fill: #74ee15;
    }
    100% {
        fill: #ffe700;
    }
}

@keyframes change-lights-3 {
    0% {
        fill: #74ee15;
    }
    25% {
        fill: #ffe700;
    }
    50% {
        fill: #ff000d;
    }
    75% {
        fill: #001eff;
    }
    100% {
        fill: #74ee15;
    }
}

@keyframes change-lights-4 {
    0% {
        fill: #001eff;
    }
    25% {
        fill: #74ee15;
    }
    50% {
        fill: #ffe700;
    }
    75% {
        fill: #ff000d;
    }
    100% {
        fill: #001eff;
    }
}

.star-balls {
    fill: #93ff73;
}

.balls.big {
    fill: #d896ff;
}

.balls.medium {
    fill: #64edff;
}

.balls.small {
    fill: #ffffff;
}

.ovals {
    fill: #fdbe75;
}

.hidden {
    display: none;
}
